#root {
	text-align: center;
}
.links {
	display: flex;
	flex-direction: column;
}

.app {
	display: flex;
	flex-direction: column;
}
.app-body {
	height: calc(100vh - 50px);
	display: flex;
}

.app-header {
	flex-basis: 50px;
	flex-grow: 1;
	flex-shrink: 1;
}
.side {
	box-sizing: border-box;
	position: relative;
	flex-basis: 250px;
	flex-shrink: 1;
}
.side::after {
	position: absolute;
	content: '';
	height: 100%;
	width: 13px;
	box-shadow: inset pink 10px 0 9px -4px;
	right: -13px;
	top: 0;
}
.side-title {
	padding: 14px;
	padding-bottom: 0;
}
.links {
	display: flex;
	flex-direction: column;

	padding: 20px;
	box-sizing: border-box;
	gap: 10px;
	justify-content: center;
	text-align: center;
}

.links a::before {
	content: '@';
}

.content {
	display: flex;
	padding: 20px;
	flex: 1;
	height: 100%;
	box-sizing: border-box;
	overflow-y: auto;
}

body {
	margin: 0;
}

body:hover {
	box-shadow: inset 1px -1px 6px 0px pink;
}
::-webkit-scrollbar {
	width: 2px;
	/* background: rgba(255, 230, 230, 0.3); */
}
/*定义滚动条轨道（凹槽）样式*/
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(255, 230, 230, 0.2);
	border-radius: 3px;
}
/*定义滑块 样式*/
::-webkit-scrollbar-thumb {
	border-radius: 99px;
	height: 100px; /* 滚动条滑块长度 */
	background-color: pink;
}
